<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container py-2">
    <a class="navbar-brand" href="{%url 'home'%}">Car Agency</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex m-0 w-100 justify-content-end" role="search">
        <div class="d-flex gap-1 align-items-center my-3 my-md-0">
          <div class="avatar">
            <div
              class="rounded-5 bg-dark"
              style="width: 40px; height: 40px"
            ></div>
          </div>
          <div class="info">
            <p class="m-0" style="font-size: 14px">Adham Saleh</p>
            <p class="m-0 text-muted" style="font-size: 14px">Superadmin</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
